.ui-menubar  {
    border: 1px solid #284907 !important;
    background: #FFF7EF;
    color: #ffffff !important;
    font-weight: bolder !important;
}

.ui-menu{
	
	background: #F3FF90 url("/Tangerine-Dream/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo") top repeat-x;
    background: #F3FF90 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #FFF7EF -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0)));
    background: #F3FF90 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
	border-style: none;
}

search-bar{
	
	background: #FFFFFF;
	
}

.ui-carousel .ui-carousel-header .ui-carousel-header-title {
    display: inline-block;
    width: 30%;
    padding-top: 2px;
    float: left;
    overflow: hidden;
}

.ui-widget-content {
    border: 0px solid #a8a8a8;
    background: #FFF7EF;
    color: #4f4f4f;
}

.ui-carousel .ui-carousel-header {
    margin: 0 1px;
    border: 0px;
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 2px;
    padding-left: 2px;
    background: #DEF2C8;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #564754;
    background: #c4c4c4 url("/Tangerine-Dream/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo") 50% 50% repeat-x;
    background: #c4c4c4 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #A6B2AA -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0)));
    background: #9A9B58 -moz-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0));
    font-weight: bold;
    color: #4f4f4f;
    text-shadow: 0px 1px 0px rgba(0,0,0,1);
}

.ui-button-text {
    color: #FFF7EF;
}

.ui-menubar{
	
	    border: 0px solid #284907 !important;
	    border-radius:0px;
}

.ui-menuitem{
	
	margin-top:auto;
	
}

.ui-button-text{
	
	color: #FFFFFF;
	
}