@font-face {
	font-family: Austie;
	src: url(Font/Austie.ttf);
}

@font-face {
	font-family: Carnet;
	src: url(Font/Carnet.ttf);
}

@font-face {
	font-family: OrangeJuice;
	src: url(Font/Orange.ttf);
}

h1 {
	text-align: center;
	font-size: 36px;
	line-height: 40px;
}

h2 {
	font-family: OrangeJuice;
	text-align: center;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: 15px;
}

h3 {
	font-family: OrangeJuice;
	text-align: center;
	font-size: 32px;
	line-height: 35px;
	letter-spacing: 5px;
	margin: 0px;
}

h4 {
	font-family: Carnet;
	margin: 0px;
}

head {
	
}

body {
	font-family: Helvetica;
	font-size: 16px;
	background-color: #FFFFFF;
}

.department-font{

	margin-left: 15px;
}

.department-header{

	width:325px;
	display: inline-block;
	height: 50px;
	width: 50px;
}

.departmentFont {
	margin-left: 15px;
}

.departmentHeader {
	width: 325px;
	display: block;
	background-color: #00A9A2;
	border-radius: 15px 50px 0px 0px;
}


.landing-page-content{
	
	background-color:#575757;
	opacity:1;	
}

.landing-page-advert{

	display:inline;
	width:auto;
	margin:auto;


}

.main {
	background-color: #2BCCCA;
}

.advert {
	display: inline;
	width: auto;
	margin: auto;
}

.cataloguePreview {
	width: 70%;
	margin: 15px;
	float: left;
	background-color: #FF8FAB;
}

.departments {
	display: inline-block;
	width: 70%;
	background-color: #ffffff;
}

.departments img {
	border-style: outset;
	border-width: 3px;
}


.product-row{
	
	overflow:hidden;
	
}

.product-row p{
	
	text-align: left;	
}

.news-panel{

	overflow: hidden;
}

.productRow p {
	text-align: left;
}

.newsPanel {

	width: 350px;
	background-color: #00A9A2;
	border-radius: 25px;
}


#news-container{

	display: inline-block;
	width: 350px;
	float: right;
	margin: 0px;
	border: 0px;
}


#news-panel-top{

	display: inline-block;
	border-radius: 15px 50px 0px 0px;
	background-color: #FDABA5;
}


#news-panel-bottom{

	display:inline-block;
	border-radius: 0px 0px 15px 50px;
}

.news-item{
	
	display: inline-block;
	border-radius: 0px 0px 15px 50px;
}

.newsItem {

	float: left;
	margin: 10px;
	border: 15px;
	background-color: #FFFFFF;
	border-radius: 15px 50px 15px 50px;
	font-size: 14px;
	text-align: center;
	padding: 5px;
}

.navigation-bar {
	background-color: #4FFF99;
}

.navigation-item {
	display: inline;
}

.horiz-spacer {
	display: block;
	width: 100%;
	height: 20px;
	background-image: url(img/horizontalSpacer.png);
	background-repeat: repeat-x;
	border-style: none;
}

#header {
	
}

#content {
	
}

#catalogue-navigation {
	display: block;
	background-color: #FFFFFF;
	list-style-type: none;
	margin: 0px;
}


#spacer {
	height: 100px;
	opacity: 0;

}
