/* Page created by Christine Stokes*/
@CHARSET "ISO-8859-1";

#orderpage {
	width: 100%;
	text-align: center;
	background-color: #399f79;
	padding: 10px 10px 10px 10px;
	float: left;
}
.container {
	width: 100%;
	margin: 0 0 0 0;
	border: 1px solid;
	background-color: #bcd1fa;
	float: left;
}

#Banner {
	overflow: hidden;
}

#Banner h1 {
	float: left;
	font-style: normal;
	font-size: 10em;
	font-weight: bold;
	font-family: fantasy;
	color: #13ca17;
	margin-left: 20px;
}S

#Banner ul {
	padding-right: 1em;
	padding-top: 1em;
	text-align: right;
}

#Banner table {
	display: inline-block;
	margin: 8em . 20em;
	text-align: left;
	font-size: 2em;
	font-family: fantasy;
}

#Subheading {
	padding-top: 4em;
}

#Subheading h2 {
	text-align: center;
	font-size: xx-large;
	font-style: normal;
	font-family: cursive;
}

#Maintext {
	padding-top: 5em;
	padding-left: 3em;
	padding-right: 3em;
}

#Maintext p {
	font-size: x-large;
	font-family: fantasy;
	text-align: justify;
}

#footbar {
	overflow: hidden;
}

#footbar ul {
	text-align: left;
	margin-left: 30px;
	margin-bottom: 20px;
	margin-right: 30px;
	position: relative;
	padding-top: 80%;
}

#footbar tr {
	display: inline-block;
	margin: 8em . 20em;
	text-align: left;
	font-size: 2em;
}

.spacer {
	padding-left: 30px;
	padding-bottom: 2em;
	margin-left: 20px;
}

h1 {
	letter-spacing: 1px;
	font-size: .4in;
	color: green;
}

span {
	color: red
}

legend {
	font-variant: small-caps;
	font-weight: bold
}

fieldset {
	width: 300px;
	font-family: Arial; sans-serif;
	background-color: limegreen
}

label {
	display: block; position relative;
	line-height: 2;
	margin: 10px 0px;
}

.text {
	position: absolute;
	margin-left: 20px;
	width: 15em;
	left: 80px
}

span.myspan {
	width: 100px;
	display: inline-block;
}

#productIm u1 {
	text-align: left;
	margin-left: 30px;
	position: relative;
}
#productIm li {
	display: inline-block;
	margin: 8em . 20em;
	text-align: left;
	font-size: 2em;
}


#orderlist ul{
	list-style: none;
	text-align: left;
}
.ProductName{
	padding-left: 30px;
	padding-bottom: 2em;
	margin-left: 20px;
	font-size: larger;
	font-weight: bold;
}
.ProductLabels {
	padding-left: 30px;
	padding-bottom: 2em;
	margin-left: 20px;
	font-size: large;
	font-weight: bold;
}
.Productdescriptions{
		padding-left: 30px;
	padding-bottom: 2em;
	margin-left: 20px;
	font-size: large;
}
.ProductTotal{
	padding-left: 3em;
	padding-top: 2em;
	margin-left: 20px;
	font-size: large;
	font-weight: bold;
}
.OrderPrice{
	padding-left: 3em;
	padding-top: 2em;
	margin-left: 20px;
	font-size: large;
}
.Button{
	padding-top: 2em;
	margin-left: 20px;
	font-size: large
}
#about {
	font-size: x-large;
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
}