/* Page created by Christine Stokes*/
@CHARSET "ISO-8859-1";

/*
* Template page styling - @author Umar
*/
body {
	background: #C6B7AB;
	text-align:center;
}


#login-box
{
	width:initial;
	margin:auto;
	border-style: solid;
	display: inline-block;
	border-color: #537D99;
	padding: 25px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #DEF2C8;
	color: #000000;
}

.footer{
	padding-bottom: 6px;
	width: 100%;
	clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: 10px;
    background: #FFF7EF;
}

.top-bar{
	background-color: #C6B7AB;
	width: 100%
}


.nav-button-right{
	float:right;
	
}

.nav-button-left{
	float:left;
}

#mainContent {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	min-height: 1020px;
	text-align:center;
}

#content-container{
	
	width: 80%;
	margin:auto;
	
}

/* End */

/*
*  Fonts
*/

@font-face{

font-family: Austie;
src:url(Font/Austie.ttf);


}

@font-face{

	font-family: Carnet;
	src:url(Font/Carnet.ttf);
}

@font-face{

	font-family: OrangeJuice;
	src:url(Font/Orange.ttf);
}

/*
* Landing page CSS
*/ 


#landingpage-content h1{

	text-align: center;
    font-size: 36px;
    line-height: 40px;
}

#landingpage-content h2{

	font-family: OrangeJuice;
	text-align: center;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 15px;
}

#landingpage-content h3{

	font-family: OrangeJuice;
	text-align: center;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    margin:0px;
}

#landingpage-content p{

	font-family: Carnet;
	text-align: center;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 5px;
    margin:0px;
}

#landingpage-content h4{
	
	font-family:Carnet;
	margin:0px;
}

#product-titlewrapper{
	
	margin: 25px;
    background: #EAE3AB;
    border-style: solid;
    border-radius: 20px;
	
}

#product-titlewrapper h2{

	font-family: OrangeJuice;
	text-align: center;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 15px;


}


/*
* Landng page product department CSS
*/

.departments{
	display: inline-block;
	width: 70%;
	background-color: #ffffff;
}

.departments img{
	
	border-style: outset;
	border-width: 3px;	
}

.department-font{

	margin-left: 15px;
}

.department-header{

	width:325px;
	display: block;
	background-color: #00A9A2;
	border-radius: 15px 50px 0px 0px;
}	

#landing-page-content{
	
	background-color:#D4FFDB;
	opacity:1;	
}

.landing-page-advert{

	display:inline;
	width:auto;
	margin:auto;
}

/*
* Landing page Carousel CSS
*/ 

.product-row{
	
	overflow:hidden;	
}

.product-row p{
	
	text-align: left;
	font-family: Carnet;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 5px;
    margin:0px;
}

/*
* Landing page News Window CSS
*/

.news-panel{
	width: 350px;
	background-color: #00A9A2;
	border-radius: 25px;
}

#news-container{
	display: inline-block;
	width: 350px;
	float:right;
	margin:0px;
	border: 0px;
}

#news-panel-top{
	display: inline-block;
	border-radius: 15px 50px 0px 0px;
	background-color:#FDABA5;
}

#news-panel-bottom{

	display:inline-block;
	border-radius: 0px 0px 15px 50px;
}

.news-item{
	
	float: left;
	margin: 10px;
	border:15px;
	background-color: #FFFFFF;
	border-radius: 15px 50px 15px 50px;
	font-size: 14px;
    text-align: center;
    padding:5px;
}

/* Spacer ID. Used for vertical spacing (see landing page for example)*/
#spacer{
	
	height:100px;
	opacity: 0;
}


/*
* End of landing page CSS
*/

#orderpage {
	width: 100%;
	text-align: center;
	background-color: #399f79;
	padding: 10px 10px 10px 10px;
	float: left;
}

.container {
	width: 100%;
	margin: 0 0 0 0;
	border: 1px solid;
	background-color: white;
	float: left;
}

#Banner {
	overflow: hidden;
}

#Banner h1 {
	float: left;
	font-style: normal;
	font-size: 10em;
	font-weight: bold;
	font-family: fantasy;
	color: #13ca17;
	margin-left: 20px;
}

S

#Banner ul {
	padding-right: 1em;
	padding-top: 1em;
	text-align: right;
}

#Banner table {
	display: inline-block;
	margin: 8em . 20em;
	text-align: right;
	font-size: 2em;
	font-family: fantasy;
}

#Subheading {
	padding-top: 4em;
}

#Subheading h2 {
	text-align: center;
	font-size: xx-large;
	font-style: normal;
	font-family: cursive;
}

#Maintext {
	padding-top: 5em;
	padding-left: 3em;
	padding-right: 3em;
}

#Maintext p {
	font-size: x-large;
	font-family: fantasy;
	text-align: justify;
}

#footbar {
	overflow: hidden;
}

#footbar ul {
	text-align: left;
	margin-left: 30px;
	margin-bottom: 20px;
	margin-right: 30px;
	position: relative;
	padding-top: 80%;
}

#footbar tr {
	display: inline-block;
	margin: 8em . 20em;
	text-align: left;
	font-size: 2em;
}

.spacer {
	padding-left: 30px;
	padding-bottom: 2em;
	margin-left: 20px;
}

h1 {
	letter-spacing: 1px;
	font-size: .4in;
	color: #364327;
}

span {
	
}

legend {
	font-variant: small-caps;
	font-weight: bold
}

fieldset {
	width: 300px;
	font-family: Arial; sans-serif;
	background-color: limegreen
}

label {
	display: block; position relative;
	line-height: 2;
	margin: 10px 0px;
}

.text {
	position: absolute;
	margin-left: 20px;
	width: 15em;
	left: 80px
}

span.myspan {
	width: 100px;
	display: inline-block;
}

#productIm u1 {
	text-align: left;
	margin-left: 30px;
	position: relative;
}

#productIm li {
	display: inline-block;
	margin: 8em . 20em;
	text-align: left;
	font-size: 2em;
}

#orderlist ul {
	list-style: none;
	text-align: left;
}

.ProductName {
	padding-left: 30px;
	padding-bottom: 2em;
	margin-left: 20px;
	font-size: larger;
	font-weight: bold;
}

.ProductLabels {
	padding-left: 30px;
	padding-bottom: 2em;
	margin-left: 20px;
	font-size: large;
	font-weight: bold;
}

.Productdescriptions {
	padding-left: 30px;
	padding-bottom: 2em;
	margin-left: 20px;
	font-size: large;
}

.ProductTotal {
	padding-left: 3em;
	padding-top: 2em;
	margin-left: 20px;
	font-size: large;
	font-weight: bold;
}

.OrderPrice {
	padding-left: 3em;
	padding-top: 2em;
	margin-left: 20px;
	font-size: large;
}

.Button {
	padding-top: 2em;
	margin-left: 20px;
	font-size: large
}

#about {
	font-size: large;
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
}

.faq {
	Width: 500px;
	height: 50px;
	border: 1px solid black;
	padding: 10px;
	margin: 1px;
	border-radius: 9px 9px 9px 9px;
	border-color: #dddddd;
	background-color: white;
	color: black;
}

.info {
	Width: 500px;
	height: 230px;
	visibility: "hidden";
}

.accounts {
	Width: 350px;
	height: 200px;
	border: 1px solid black;
	border-color: #dddddd;
	background-color: white;
	border-radius: 9px 9px 9px 9px;
	color: black;
	padding: 10px;
	margin: 20px;
}

h2 {
	color: #000000;
	line-height: 60%;
}

h5 {
	line-height: 60%;
}

a {
	text-decoration: none;
}

/*Progress bar*/
#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}
#myBar {
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: green;
}
#label {
  text-align: center;
  line-height: 30px;
  color: white;
}
/*Big red cancel button*/
.button3 {
    background-color: #f7796f; 
    color: black; 
    border: none;
    padding: 16px 322px;
    font-size: 16px;
    cursor: pointer;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}
/*Green button*/
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    background-color: #337536;
    color: white;
}
/*Red button*/
.buttoncancel {
    margin: 4px 5px;
    background-color: #f2291a; 
    color: black; 
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
}
.buttoncancel:hover {
    background-color: #d11b0c;
    color: white;
}

/*temporary alternative link colours to go with blue background*/
a:link    { color: #c00 }  /* unvisited links */
a:visited { color: #0c0 }  /* visited links   */
a:hover   { color: #fff }  /* user hovers     */
a:active  { color: #ccc }  /* active links    */

/* Vmaksymchuk */

/* Footer CSS */

.middleText {
	width: 100%;
	text-align: center;
    position: relative;
}

ul {
	padding-left: 25%;
    list-style-type: none;
    margin: 0;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #444444;
}

.active {
    background-color: #4CAF50;
}